[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorators = {git = "https://github.com/farkasmate/python-decorators"}

[dev-packages]

[requires]
python_version = "3.6"
